src/__pycache__
src/__pycache__/*
src/miscellaneous/__pycache__
src/miscellaneous/__pycache__/*
src/modules/__pycache__
src/modules/__pycache__/*
src/modules/http/__pycache__
src/modules/http/__pycache__/*
src/modules/smb/__pycache__/*
src/modules/smb/__pycache__/*
src/modules/smtp/__pycache__/*
src/modules/smtp/__pycache__/*
src/modules/ssh/__pycache__/*
src/modules/ssh/__pycache__/*
src/profiles/__pycache__
src/profiles/__pycache__/*
src/menus/__pycache__
src/menus/__pycache__/*
src/shares/__pycache__
src/shares/__pycache__/*
db/shares/windows/*
db/shares/linux/*
db/buckets/*
db/sessions/*
*.pyc
*.swp
*.swo
